html,
body,
#root {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: #333;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1391&q=80);
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: white;
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.65, 0, 0.35, 1);
}

body.loaded #root {
  opacity: 1;
}

#time {
  text-align: center;
  font-size: 128px;
  margin-top: -125px;
  margin-bottom: 24px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 28px;
  grid-gap: 28px;
}

li {
  overflow: hidden;
  width: 100px;
}

li a {
  text-decoration: none;
  color: inherit;
}

li img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto 10px;
  border-radius: 16px;
  background-color: white;
}

li span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
  font-size: 13px;
  text-align: center;
  background: rgba(10, 10, 10, 0.3);
  padding: 4px 8px;
  border-radius: 8px;
  transition: background 100ms linear;
}

li a:hover span {
  background: rgba(10, 10, 10, 0.6);
}
