.module__camera {
  position: relative;
  min-height: 200px;
  overflow: hidden;
}

.module__camera img,
.module__camera video {
  width: 100%;
}

.module__camera__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: background 70ms linear;
}

.module__camera__buttons {
  padding: 8px 0;
}
