.component__base-entity-button {
  height: 75px;
  background: rgba(0, 0, 0, 0.3);
  user-select: none;
}

.component__base-entity-button > button {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  box-sizing: border-box;
  padding: 6px;
  overflow: hidden;
}

.component__base-entity-button--on {
  background: rgba(255, 255, 255, 0.2);
}

.component__base-entity-button--on > button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.component__base-entity-button__label {
  font-size: 9px;
  font-weight: 700;
}
