.component__button-card.component__base-entity-button {
  height: 75px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  box-sizing: border-box;
  padding: 6px 8px;
  overflow: hidden;
}

.component__base-entity-button--on:not(.component__base-entity-button--custom-bg) {
  background: rgba(255, 255, 255, 0.12);
  border-color: rgba(255, 255, 255, 0.1);
}

.component__base-entity-button--on.highlight {
  background: rgba(255, 255, 255, 0.25);
}

.component__base-entity-button--on.component__base-entity-button--custom-bg.highlight {
  background: unset;
  filter: brightness(1.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.component__base-entity-button__label {
  font-size: 9px;
  font-weight: 700;
  white-space: pre-wrap;
}
