.component__button-card {
  overflow: hidden;
}
.component__button-card,
.component__button-card > button {
  transition: all 80ms cubic-bezier(0.76, 0, 0.24, 1);
}

.component__button-card > button {
  height: 100%;
  margin: 0;
  padding: 6px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 17px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 100ms linear;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

.component__button-card > button:hover:not(:focus) {
  background: rgba(0, 0, 0, 0.1);
}

.component__button-card--disabled {
  opacity: 0.6;
  pointer-events: none;
}
