.component__button-card {
  overflow: hidden;
}

.component__button-card > button {
  height: 100%;
  margin: 0;
  padding: 6px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 17px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 100ms linear;
}

.component__button-card > button:hover {
  background: rgba(0, 0, 0, 0.1);
}
