.component__dialog-base__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
}

.component__dialog-base {
  background: #2f3b52;
  padding: 18px 18px 28px;
  min-width: 300px;
  border-radius: 6px;
}

.component__dialog-base-header {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
}

.component__dialog-base__content {
  display: flex;
  flex-direction: column;
}
