.component__dot-loading__wrapper {
  width: 40px;
  display: inline-flex;
  justify-content: center;
}

.component__dot-loading {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f64270;
  color: #f64270;
  animation: animation__component__dot-loading 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.component__dot-loading::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f64270;
  color: #f64270;
  animation: animation__component__dot-loading 1s infinite alternate;
  animation-delay: 0s;
}

.component__dot-loading::before,
.component__dot-loading::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.component__dot-loading::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f64270;
  color: #f64270;
  animation: animation__component__dot-loading 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes animation__component__dot-loading {
  0% {
    background-color: #f64270;
  }
  50%,
  100% {
    background-color: rgba(248, 79, 172, 0.2);
  }
}
