.component__entity-grid__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 8px 16px;
  column-gap: 8px;
}

.component__entity-grid__header h2 {
  margin: 0;
  font-size: 18px;
  line-height: 32px;
}

.component__entity-grid__content {
  display: grid;
  justify-content: center;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(min(70px, 100%), 1fr));
}

.component__entity-grid-row__divider {
  height: 1px;
  background-color: rgb(36, 46, 66);
}
