.component__flex-row {
  display: flex;
  grid-gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}

.component__flex-row--left {
  justify-content: flex-start;
}

.component__flex-row--right {
  justify-content: flex-end;
}
