.component__light-dialog__range-wrapper {
  padding: 0 9px;
  margin-left: -3px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.component__light-dialog input[type="range"] {
  width: 100%;
}

.component__light-dialog__color-presets {
  width: 230px;
  margin: 0 auto;
}
