.component__list-card-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  column-gap: 12px;
}

.component__list-card-row--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.component__list-card-row__icon-wrapper {
  font-size: 24px;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.component__list-card-row__icon-wrapper--has-click {
  cursor: pointer;
  border-radius: 100%;
  transition: background 100ms linear;
}

.component__list-card-row__icon-wrapper--has-click:hover {
  background: rgba(255, 255, 255, 0.05);
}

.component__list-card-row__label {
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.component__list-card-row__divider {
  height: 1px;
  background-color: rgb(36, 46, 66);
}
