.components__mobile-layout__tabs {
  height: 60px;
  backdrop-filter: blur(10px);
  background: linear-gradient(
    to bottom,
    rgba(32, 48, 77, 0.57) 0%,
    rgba(32, 48, 77, 0.57) 34%,
    rgba(36, 50, 75, 1) 100%
  );
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  row-gap: 14px;
  color: white;
  padding: 0 14px;
  z-index: 2;
  justify-content: space-between;
}

.MuiButtonBase-root.components__mobile-layout__tab {
  height: 100%;
  margin: 0;
  padding: 0 8px 0 8px;
  border: none;
  border-top: 2px solid transparent;
  outline: none;
  background: transparent;
  font-size: 9px;
  color: inherit;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 100ms linear;
  text-transform: uppercase;
  flex: 1;
  transition: all 80ms cubic-bezier(0.76, 0, 0.24, 1);
}

.components__mobile-layout__tab > i {
  font-size: 20px;
}

.components__mobile-layout__tab.hover {
  background: rgba(0, 0, 0, 0.1);
}

.components__mobile-layout__tab.active {
  font-weight: bolder;
  border-color: #dc456c;
}

.components__mobile-layout__content {
  padding: 16px 16px 80px;
}

.cordova .components__mobile-layout__content {
  padding-top: 48px;
  will-change: transform;
}

.cordova .components__mobile-layout__status-bar {
  height: 32px;
  backdrop-filter: blur(10px);
  background: rgb(37 51 82 / 65%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.components__mobile-layout__wrapper {
  height: 100%;
  overflow: auto;
  overscroll-behavior: contain;
  touch-action: manipulation;
}
