@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/Raleway-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Raleway-Bold.woff2") format("woff2");
}

html {
  box-sizing: border-box;
  user-select: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: inherit;
  overscroll-behavior: none;
}

html,
body {
  height: 100%;
}

#app {
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #24324b;
  font-family: Raleway;
  color: white;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url("assets/background-mobile.jpg");
  }
}

@media only screen and (min-width: 601px) {
  body {
    background-image: url("assets/background-desktop.jpg");
  }
}

button,
[role="button"] {
  -webkit-tap-highlight-color: transparent;
}
