@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/Raleway-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Raleway-Bold.woff2") format("woff2");
}

html {
  box-sizing: border-box;
  user-select: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: inherit;
  overscroll-behavior: none;
}

html,
body {
  height: 100%;
}

#app {
  height: 100%;
  overflow: auto;
  opacity: 0;
  transition: opacity 200ms cubic-bezier(0.76, 0, 0.24, 1);
}

body.ready #app {
  opacity: 1;
}

body {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #24324b;
  overflow: hidden;
}

input,
button,
[role="button"] {
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}
